# ── LLM Backend ───────────────────────────────────────────────────────────────
# Options: "groq" | "ollama"
LLM_BACKEND=groq

# ── Groq API ──────────────────────────────────────────────────────────────────
GROQ_API_KEY=<YOUR_API_KEY>
GROQ_MODEL=llama-3.3-70b-versatile 
# ----- llama-3.1-8b-instant 
# ----- llama-3.3-70b-versatile
GROQ_VISION_MODEL=meta-llama/llama-4-scout-17b-16e-instruct


# ── Ollama (local fallback) ───────────────────────────────────────────────────
OLLAMA_MODEL=gemma4-e4b-local

TEXT_EXTRACTOR=mineru

EMBED_MODEL=BAAI/bge-base-en-v1.5

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=<your_db_name>
POSTGRES_USER=postgres
POSTGRES_PASSWORD=<your_postgre_password>
